@import "./variables";
@import "./mixins";
@import "./animations";

// handles flex rows
@mixin flex_row($rowType, $colType, $wrapType: nowrap) {
	@include base_flex;
	flex-direction: row;
	justify-content: $rowType;
	align-items: $colType;
	flex-wrap: $wrapType;
}
// handles flex columns
@mixin flex_col($rowType, $colType, $wrapType: nowrap) {
	@include base_flex;
	flex-direction: column;
	justify-content: $rowType;
	align-items: $colType;
	flex-wrap: $wrapType;
}
// custom flex, supports nearly ALL flex properties
@mixin flex_custom($dirType, $rowType, $colType, $wrapType: nowrap) {
	@include base_flex;
	flex-direction: $dirType;
	justify-content: $rowType;
	align-items: $colType;
	flex-wrap: $wrapType;
}

// MIXIN VERSION:
// - Supports custom base color
// - Supports custom hover line color
@mixin hoverEffect($baseColor, $effectColor) {
	color: $baseColor;
	text-decoration: none;
	background-image: linear-gradient(180deg, transparent 65%, $effectColor 0);
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.4s ease;

	&:hover {
		background-size: 100% 100%;
	}
}

// replaces the "focusMode" mixin in "mixins.scss"
@mixin add_center_focus($elWidth, $elHeight) {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -#{$elWidth / 2};
	margin-top: -#{$elHeight / 2};
	box-shadow: map-get($map: $shadows, $key: "focusMode");
	z-index: 50;
}
