@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ServiceIndicator {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	width: 2rem;
	height: 2rem;
	background-color: map-get($map: $purpleMap, $key: "700");
	border-radius: 50%;
	@include flex_row(center, center);
	box-shadow: map-get($map: $shadows, $key: "medium");

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		fill: #ffffff;
	}
}
.FailedServiceIndicator {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	width: 2rem;
	height: 2rem;
	background-color: map-get($map: $redMap, $key: "700");
	border-radius: 50%;
	@include flex_row(center, center);
	box-shadow: map-get($map: $shadows, $key: "medium");

	&_icon {
		width: 1.8rem;
		height: 1.8rem;
		fill: #ffffff;
	}
}
